<h1>The App</h1>


<div class="menu">
  <button [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</button>
  <button [routerLink]="['/event']" routerLinkActive="router-link-active">Event</button>
</div>


<router-outlet></router-outlet>
